* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  width: 100%;
  height: 159px;
  margin: 0 auto;
}
header .HD {
  width: 1290px;
  height: 100%;
  margin: 0 auto;
}
header .HD1 {
  width: 100%;
  height: 40%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}
header .HD1 .Welcome {
  text-align: center;
}
header .HD1 .Welcome p {
  color: #797979;
  padding: 23px;
  font-size: 12px;
}
header .HD1 .Register {
  width: 800px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 17px 71px 0px 122px;
}
header .HD1 .Register1 {
  font-size: 12px;
  color: #797979;
  padding: 11px;
}
header .HD1 .Register1 r {
  color: red;
}
header .HD1 .Register2 {
  display: contents;
  padding: 22px;
}
header .HD1 .Register2 .Fb {
  margin: 10px -6px 0px 12px;
}
header .HD1 .Register2 .Tw {
  margin: 10px -6px 0px 12px;
}
header .HD1 .Register2 .In {
  margin: 10px -6px 0px 12px;
}
header .HD1 .Register3 {
  display: flex;
  padding: 11px;
}
header .HD1 .Register3 p {
  font-size: 12px;
  color: #797979;
}
header .HD1 .Register3 r {
  color: red;
}
header .HD2 {
  height: 60%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header .HD2 .logo {
  width: 212px;
  height: 54px;
  background-color: red;
}
header .HD2 .menu {
  width: 700px;
  height: 55px;
  display: flex;
}
header .HD2 .menu .mu {
  padding: 15px 0 0 28px;
  font-size: 18px;
  color: #797979;
}
header .HD2 .menu .ml {
  margin-top: 4px;
}
header .HD2 .menu .mll {
  display: flex;
  padding: 13px 0px 0px 20px;
}

footer .FT {
  width: 100%;
  height: 635px;
  margin: 0 auto;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .FT .gg {
  width: 1290px;
  height: 120px;
  background-color: pink;
}
footer .FT .GG {
  width: 1290px;
  height: 515px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}
footer .FT .Flogo {
  width: 300px;
  height: 348px;
  background-color: red;
  text-align: center;
}
footer .FT .WN {
  width: 300px;
  height: 348px;
  background-color: olive;
  white-space: pre-line;
}
footer .FT .WNt {
  color: black;
  font-weight: bold;
}
footer .FT .WNi {
  background-color: beige;
  width: 38%;
  height: 38%;
}
footer .FT .WNii {
  background-color: blue;
  width: 38%;
  height: 38%;
}
footer .LI {
  width: 300px;
  height: 348px;
  background-color: orange;
}
footer .LI .LIt {
  color: black;
  margin: 17px;
  font-weight: bold;
}
footer .LItt {
  background-color: yellow;
  width: 40%;
  height: 73%;
}
footer .LIttt {
  color: rgba(119, 153, 119, 0.6);
  margin: 25px;
}

.GET {
  width: 300px;
  height: 348px;
  background-color: olivedrab;
}
.GET .GETt {
  color: black;
  font-weight: bold;
  margin: 17px;
}
.GET .GETtt {
  background-color: yellow;
  width: 74%;
  height: 73%;
}
.GET .GETttt {
  color: #797979;
  margin: 20px;
}
.GET .GETtttr {
  color: red;
  margin: 73px 0px 0px 18px;
}
.GET .GETtttr:hover {
  color: black;
}

body .DB {
  width: 100%;
  height: 1020px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}
body .DBB {
  width: 1290px;
  height: 91px;
  margin-top: 116px;
}
body .DBt {
  font-size: 55px;
  text-align: center;
}
body .DBb {
  width: 1290px;
  height: 25px;
  display: flex;
  justify-content: space-around;
}
body .Dbt {
  font-size: 15px;
  color: #272727;
}
body .sogae {
  width: 1290px;
  height: 370px;
  display: flex;
  justify-content: space-between;
}
body .sogae .sg {
  width: 190px;
  height: 290px;
  background-color: yellow;
  margin-top: 25px;
}
body .sogae .sg img {
  width: 190px;
  height: 290px;
}
body .sogaet {
  width: 1290px;
  height: 232px;
  display: flex;
  justify-content: space-between;
}
body .sogaet .st {
  width: 190px;
  height: 140px;
  text-align: center;
}
body .sogaet .st p {
  font-size: 12px;
}
body .Sogaeb {
  width: 1290px;
  height: 59px;
  display: flex;
  justify-content: center;
}
body .Sogaeb .sogaeb {
  background-color: #121212;
  border: solid #121212;
  width: 273px;
  height: 59px;
}
body .Sogaeb .sogaeb:hover {
  border: #121212 solid;
  background-color: transparent;
}
body .Sogaeb .sogaeb .sogaebt {
  color: #fff;
  text-align: center;
  width: 273px;
  line-height: 54px;
}
body .up {
  width: 100%;
  height: 459px;
  background-color: #De3241;
  display: flex;
  justify-content: center;
}
body .up .upp {
  width: 682px;
  height: 459px;
}
body .up .upp .Up {
  display: flex;
  justify-content: center;
  font-size: 46px;
  margin-top: 82px;
}
body .up .upp .Up .uppt {
  color: #fff;
}
body .up .UP {
  width: 682px;
  height: 62px;
  display: flex;
  font-size: 46px;
  margin-top: 90px;
  justify-content: space-between;
}
body .up .UP input {
  width: 399px;
  height: 62px;
}
body .up .UP .box {
  width: 270px;
  height: 62px;
  background-color: #121212;
  border: solid #121212;
}
body .up .UP .box:hover {
  border: #121212 solid 2px;
  background-color: transparent;
  color: #121212;
  font-size: 17px;
}
body .up .UP .box p {
  margin-top: 17px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 17px;
}
body .up .UPn {
  width: 682px;
  height: 62px;
  display: flex;
}
body .up .UPn #cc {
  width: 16px;
  height: 16px;
  margin-top: 17px;
}
body .up .UPn .UPt {
  font-size: 12px;
  color: #fff;
  margin: 17px;
}
body .CYB {
  background: color #f9f9f9;
  width: 100%;
  height: 879px;
  display: flex;
  justify-content: center;
}
body .CYB .cyb {
  width: 1209px;
  height: 700px;
  margin-top: 90px;
}
body .CYB .cyb p {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
}
body .CYB .cyb .Cyb {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: space-between;
}
body .CYB .cyb .Cyb .cYa {
  width: 283px;
  height: 309px;
  position: relative;
  margin-top: 115px;
}
body .CYB .cyb .Cyb .cYa p {
  font-size: 12px;
}
body .CYB .cyb .Cyb .cYa > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
body .CYB .cyb .Cyb .cYa > a::before {
  transition: 1s;
}
body .CYB .cyb .Cyb .cYa > a:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.5;
  z-index: 5;
}
body .CYB .cyb .Cyb .cYa > a img {
  width: 283px;
  height: 309px;
}
body .CYB .cyb .Cyb .cYa > span {
  font-size: 50px;
  position: absolute;
  color: #eee;
  bottom: 0;
  left: 0;
}
body .CYB .cyb .Cyb .cYb {
  width: 283px;
  height: 309px;
  margin-top: 115px;
}
body .CYB .cyb .Cyb .cYb img {
  width: 283px;
  height: 309px;
}
body .CYB .cyb .Cyb .cYc {
  width: 283px;
  height: 309px;
  margin-top: 115px;
}
body .CYB .cyb .Cyb .cYc img {
  width: 283px;
  height: 309px;
}
body .CYB .cyb .Cyb .cYd {
  width: 283px;
  height: 309px;
  margin-top: 115px;
}
body .CYB .cyb .Cyb .cYd img {
  width: 283px;
  height: 309px;
}
body .CYB .cyb .BOXX {
  width: 1209px;
  height: 91px;
  display: flex;
  justify-content: center;
}
body .CYB .cyb .BOXX .boxx {
  width: 34%;
  height: 60%;
  background-color: #121212;
  border: #121212 solid 2px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  line-height: 51px;
}
body .CYB .cyb .BOXX .boxx:hover {
  border: #121212 solid 2px;
  background-color: #fff;
  color: #121212;
  font-size: 14px;
}