* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  width: 100%;
  height: 159px;
  margin: 0 auto;
}
header .HD {
  width: 1290px;
  height: 100%;
  margin: 0 auto;
}
header .HD1 {
  width: 100%;
  height: 40%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}
header .HD1 .Welcome {
  text-align: center;
}
header .HD1 .Welcome p {
  color: #797979;
  padding: 23px;
  font-size: 12px;
}
header .HD1 .Register {
  width: 800px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 17px 71px 0px 122px;
}
header .HD1 .Register1 {
  font-size: 12px;
  color: #797979;
  padding: 11px;
}
header .HD1 .Register1 r {
  color: red;
}
header .HD1 .Register2 {
  display: contents;
  padding: 22px;
}
header .HD1 .Register2 .Fb {
  margin: 10px -6px 0px 12px;
}
header .HD1 .Register2 .Tw {
  margin: 10px -6px 0px 12px;
}
header .HD1 .Register2 .In {
  margin: 10px -6px 0px 12px;
}
header .HD1 .Register3 {
  display: flex;
  padding: 11px;
}
header .HD1 .Register3 p {
  font-size: 12px;
  color: #797979;
}
header .HD1 .Register3 r {
  color: red;
}
header .HD2 {
  height: 60%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header .HD2 .logo {
  width: 212px;
  height: 54px;
  background-color: red;
}
header .HD2 .menu {
  width: 700px;
  height: 55px;
  display: flex;
}
header .HD2 .menu .mu {
  padding: 15px 0 0 28px;
  font-size: 18px;
  color: #797979;
}
header .HD2 .menu .mu a:hover {
  color: #De3241;
}
header .HD2 .menu .ml {
  margin-top: 4px;
}
header .HD2 .menu .mll {
  display: flex;
  padding: 13px 0px 0px 20px;
}

footer .FT {
  width: 100%;
  height: 635px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -18px;
}
footer .FT .gg {
  width: 1290px;
  height: 120px;
}
footer .FT .GG {
  width: 1290px;
  height: 515px;
  display: flex;
  justify-content: space-between;
}
footer .FT .Flogo {
  width: 300px;
  height: 348px;
  text-align: center;
  margin-top: 6px;
}
footer .FT .WN {
  width: 300px;
  height: 348px;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .FT .WNt {
  color: black;
  font-weight: bold;
  margin-top: 14px;
}
footer .FT .wni {
  width: 38%;
  height: 92%;
  margin: 27px 0px 0px -151px;
}
footer .FT .wni .WNi {
  width: 114px;
  height: 132px;
}
footer .FT .wni .WNi img {
  width: 114px;
  height: 132px;
}
footer .FT .WNI {
  width: 38%;
  height: 92%;
  margin: 28px 0px 0px -43px;
}
footer .FT .WNI .WNit {
  width: 114px;
  height: 132px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
footer .FT .WNI .WNit .WP {
  width: 94px;
  height: 24px;
}
footer .FT .WNI .WNit .WP h6 {
  font-size: 15px;
  font-weight: bold;
  color: #De3241;
}
footer .LI {
  width: 300px;
  height: 348px;
}
footer .LI .LIt {
  color: black;
  margin: 17px;
  font-weight: bold;
}
footer .LItt {
  width: 40%;
  height: 73%;
}
footer .LIttt {
  color: #797979;
  margin: 25px;
}
footer .LIttt a:hover {
  color: #De3241;
}

.GET {
  width: 300px;
  height: 348px;
}
.GET .GETt {
  color: black;
  font-weight: bold;
  margin: 17px;
}
.GET .GETtt {
  width: 74%;
  height: 73%;
}
.GET .GETttt {
  color: #797979;
  margin: 20px;
}
.GET .GETtttr {
  color: red;
  margin: 73px 0px 0px 18px;
}
.GET .GETtttr:hover {
  color: black;
}

body .SUB {
  width: 100%;
}
body .SUB .subshopt {
  width: 100%;
  height: 174px;
  background-color: #171717;
  display: flex;
  justify-content: center;
}
body .SUB .subshopt .subs {
  width: 1290px;
  height: 160px;
  background-color: #171717;
  color: #D2D3D5;
  font-size: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .SUB .subshopt .subs p {
  font-size: 15px;
}
body .SUB .Sub {
  width: 100%;
  height: 3113px;
  background-color: #F5F5F4;
  padding: 127px 0px 133px;
  position: relative;
}
body .SUB .Sub .sUb {
  width: 1290px;
  height: 678px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
body .SUB .Sub .sUb .sUbp {
  width: 440px;
  height: 672px;
}
body .SUB .Sub .sUb .sUbp img {
  width: 100%;
  height: 100%;
}
body .SUB .Sub .sUb .sUbt {
  width: 849px;
  height: 672px;
}
body .SUB .Sub .sUb .sUbt .T {
  margin: 0px 0px 18px 48px;
  font-size: 12px;
}
body .SUB .Sub .sUb .sUbt .Au {
  color: #797979;
  margin: 0px 0px 18px 52px;
  font-size: 13px;
}
body .SUB .Sub .sUb .sUbt .P {
  color: #DE3241;
  margin: 0px 0px 18px 52px;
  font-size: 13px;
}
body .SUB .Sub .sUb .sUbt .SP {
  color: #DE3241;
  margin: 0px 0px 18px 52px;
  font-size: 13px;
}
body .SUB .Sub .sUb .sUbt .J {
  margin: 0px 0px 18px 52px;
  font-size: 13px;
}
body .SUB .Sub .sUb .sUbt .ST {
  height: 200px;
  font-size: 18px;
  margin: 0px 0px 18px 52px;
  color: #797979;
}
body .SUB .Sub .sUb .sUbt .OP {
  width: 172px;
  height: 138px;
  margin: -15px 0px 0px 50px;
  display: flex;
  justify-content: space-between;
}
body .SUB .Sub .sUb .sUbt .OP .on {
  width: 83px;
  height: 138px;
}
body .SUB .Sub .sUb .sUbt .OP .on:hover {
  border: solid 2px black;
}
body .SUB .Sub .sUb .sUbt .OP .on p {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
body .SUB .Sub .sUb .sUbt .OP .pa {
  width: 83px;
  height: 138px;
}
body .SUB .Sub .sUb .sUbt .OP .pa:hover {
  border: solid 2px black;
}
body .SUB .Sub .sUb .sUbt .OP .pa p {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
body .SUB .Sub .sUb .sUbt .N {
  width: 270px;
  height: 60px;
  margin: 0px 0px 0px 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}
body .SUB .Sub .sUb .sUbt .N input {
  width: 105px;
  height: 60px;
  text-align: center;
  font-size: 17px;
}
body .SUB .Sub .sUb .sUbt .N .B button {
  width: 157px;
  height: 60px;
  text-align: center;
  font-size: 17px;
  color: #5a5757;
}

.rivew {
  width: 100%;
  height: 3113px;
  background-color: cadetblue;
}