* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  width: 100%;
  height: 159px;
  margin: 0 auto;
}
header .HD {
  width: 1290px;
  height: 100%;
  margin: 0 auto;
}
header .HD1 {
  width: 100%;
  height: 40%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}
header .HD1 .Welcome {
  text-align: center;
}
header .HD1 .Welcome p {
  color: #797979;
  padding: 23px;
  font-size: 12px;
}
header .HD1 .Register {
  width: 800px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 17px 71px 0px 122px;
}
header .HD1 .Register1 {
  font-size: 12px;
  color: #797979;
  padding: 11px;
}
header .HD1 .Register1 r {
  color: red;
}
header .HD1 .Register2 {
  display: contents;
  padding: 22px;
}
header .HD1 .Register2 .Fb {
  margin: 10px -6px 0px 12px;
}
header .HD1 .Register2 .Tw {
  margin: 10px -6px 0px 12px;
}
header .HD1 .Register2 .In {
  margin: 10px -6px 0px 12px;
}
header .HD1 .Register3 {
  display: flex;
  padding: 11px;
}
header .HD1 .Register3 p {
  font-size: 12px;
  color: #797979;
}
header .HD1 .Register3 r {
  color: red;
}
header .HD2 {
  height: 60%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header .HD2 .logo {
  width: 212px;
  height: 54px;
  background-color: red;
}
header .HD2 .menu {
  width: 700px;
  height: 55px;
  display: flex;
}
header .HD2 .menu .mu {
  padding: 15px 0 0 28px;
  font-size: 18px;
  color: #797979;
}
header .HD2 .menu .mu a:hover {
  color: #De3241;
}
header .HD2 .menu .ml {
  margin-top: 4px;
}
header .HD2 .menu .mll {
  display: flex;
  padding: 13px 0px 0px 20px;
}

footer .FT {
  width: 100%;
  height: 635px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -18px;
}
footer .FT .gg {
  width: 1290px;
  height: 120px;
}
footer .FT .GG {
  width: 1290px;
  height: 515px;
  display: flex;
  justify-content: space-between;
}
footer .FT .Flogo {
  width: 300px;
  height: 348px;
  text-align: center;
  margin-top: 6px;
}
footer .FT .WN {
  width: 300px;
  height: 348px;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .FT .WNt {
  color: black;
  font-weight: bold;
  margin-top: 14px;
}
footer .FT .wni {
  width: 38%;
  height: 92%;
  margin: 27px 0px 0px -151px;
}
footer .FT .wni .WNi {
  width: 114px;
  height: 132px;
}
footer .FT .wni .WNi img {
  width: 114px;
  height: 132px;
}
footer .FT .WNI {
  width: 38%;
  height: 92%;
  margin: 28px 0px 0px -43px;
}
footer .FT .WNI .WNit {
  width: 114px;
  height: 132px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
footer .FT .WNI .WNit .WP {
  width: 94px;
  height: 24px;
}
footer .FT .WNI .WNit .WP h6 {
  font-size: 15px;
  font-weight: bold;
  color: #De3241;
}
footer .LI {
  width: 300px;
  height: 348px;
}
footer .LI .LIt {
  color: black;
  margin: 17px;
  font-weight: bold;
}
footer .LItt {
  width: 40%;
  height: 73%;
}
footer .LIttt {
  color: #797979;
  margin: 25px;
}
footer .LIttt a:hover {
  color: #De3241;
}

.GET {
  width: 300px;
  height: 348px;
}
.GET .GETt {
  color: black;
  font-weight: bold;
  margin: 17px;
}
.GET .GETtt {
  width: 74%;
  height: 73%;
}
.GET .GETttt {
  color: #797979;
  margin: 20px;
}
.GET .GETtttr {
  color: red;
  margin: 73px 0px 0px 18px;
}
.GET .GETtttr:hover {
  color: black;
}

body .SUB {
  width: 100%;
}
body .SUB .subshopt {
  width: 100%;
  height: 174px;
  background-color: #171717;
  display: flex;
  justify-content: center;
}
body .SUB .subshopt .subs {
  width: 1290px;
  height: 160px;
  background-color: #171717;
  color: #D2D3D5;
  font-size: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .SUB .subshopt .subs p {
  font-size: 15px;
}
body .SUB .Sub {
  width: 100%;
  height: 2650px;
  background-color: #F5F5F4;
  padding: 127px 0px 133px;
  position: relative;
}
body .SUB .Sub .sUb {
  width: 1290px;
  height: 678px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
body .SUB .Sub .sUb .sUbp {
  width: 440px;
  height: 672px;
}
body .SUB .Sub .sUb .sUbp img {
  width: 100%;
  height: 100%;
}
body .SUB .Sub .sUb .sUbt {
  width: 849px;
  height: 672px;
}
body .SUB .Sub .sUb .sUbt .T {
  margin: 0px 0px 18px 48px;
  font-size: 12px;
}
body .SUB .Sub .sUb .sUbt .Au {
  color: #797979;
  margin: 0px 0px 18px 52px;
  font-size: 13px;
}
body .SUB .Sub .sUb .sUbt .P {
  color: #DE3241;
  margin: 0px 0px 18px 52px;
  font-size: 13px;
}
body .SUB .Sub .sUb .sUbt .SP {
  color: #DE3241;
  margin: 0px 0px 18px 52px;
  font-size: 13px;
}
body .SUB .Sub .sUb .sUbt .J {
  margin: 0px 0px 18px 52px;
  font-size: 13px;
}
body .SUB .Sub .sUb .sUbt .ST {
  height: 200px;
  font-size: 18px;
  margin: 0px 0px 18px 52px;
  color: #797979;
}
body .SUB .Sub .sUb .sUbt .OP {
  width: 172px;
  height: 138px;
  margin: -15px 0px 0px 50px;
  display: flex;
  justify-content: space-between;
}
body .SUB .Sub .sUb .sUbt .OP .on {
  width: 83px;
  height: 138px;
}
body .SUB .Sub .sUb .sUbt .OP .on:hover {
  border: solid 2px black;
}
body .SUB .Sub .sUb .sUbt .OP .on p {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
body .SUB .Sub .sUb .sUbt .OP .pa {
  width: 83px;
  height: 138px;
}
body .SUB .Sub .sUb .sUbt .OP .pa:hover {
  border: solid 2px black;
}
body .SUB .Sub .sUb .sUbt .OP .pa p {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
body .SUB .Sub .sUb .sUbt .N {
  width: 270px;
  height: 60px;
  margin: 0px 0px 0px 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}
body .SUB .Sub .sUb .sUbt .N input {
  width: 105px;
  height: 60px;
  text-align: center;
  font-size: 17px;
}
body .SUB .Sub .sUb .sUbt .N .B button {
  width: 157px;
  height: 60px;
  text-align: center;
  font-size: 17px;
  color: #5a5757;
}

.rv {
  width: 100%;
  height: 70px;
}
.rv .rvb {
  width: 221px;
  height: 70px;
  background-color: white;
  margin-left: 305px;
  display: flex;
  align-content: flex-start;
  margin-top: 60px;
  border: #121212 2px solid;
}
.rv .rvb p {
  text-align: center;
  font-weight: bold;
  color: #121212;
  font-size: 20px;
  width: 100%;
  line-height: 68px;
}

.rivew {
  width: 100%;
  height: 843px;
  background-color: #F5F5F4;
  display: flex;
  justify-content: center;
}
.rivew .rv1 {
  width: 660px;
  height: 745px;
  padding: 0px 15px;
  margin-top: 30px;
}
.rivew .rv1 .star-rating {
  width: 205px;
  height: 39px;
  margin-top: 15px;
}
.rivew .rv1 .graph {
  margin-top: 74px;
}
.rivew .rv1 p {
  color: #121212;
  font-weight: bold;
  font-size: 23px;
}
.rivew .rv1 span {
  color: #DE3241;
  font-size: 54px;
}
.rivew .rv1 .gr {
  width: 553px;
  height: 250px;
  margin-top: 26px;
}
.rivew .rv1 .gr img {
  width: 494px;
  height: 261px;
}
.rivew .rv2 {
  width: 660px;
  height: 745px;
  padding: 0px 15px;
  margin-top: 30px;
}
.rivew .rv2 .rv22 {
  color: #121212;
  font-size: 25px;
  font-weight: bold;
  padding: 0px 0px 20px;
}
.rivew .rv2 .rv222 {
  color: #797979;
  font-size: 18px;
  padding: 0px 0px 20px;
}
.rivew .rv2 form .ft {
  font-size: 16px;
  color: #121212;
}
.rivew .rv2 form .PPP {
  width: 630px;
  height: 54px;
  margin: 10px 0px 32px 0px;
}
.rivew .rbt {
  margin-top: -14px;
}
.rivew .rbt .RBT {
  font-size: 16px;
  color: #797979;
  margin: -22px 0px 18px 24px;
}
.rivew .YR {
  color: #121212;
  font-size: 16px;
}
.rivew .RR {
  color: #121212;
  font-size: 16px;
  margin-top: 28px;
}
.rivew .RRB .TEXT {
  width: 630px;
  height: 96px;
  margin-top: 16px;
}
.rivew .RBt {
  margin-top: 15px;
}
.rivew .RBt .RbTt {
  font-size: 16px;
  color: #797979;
  margin: -22px 0px 18px 24px;
}
.rivew .zxc button {
  width: 141px;
  height: 59px;
  background-color: #121212;
  color: white;
  margin-top: 21px;
  border: #121212 2px solid;
}
.rivew .zxc button:hover {
  background-color: white;
  border: #121212 2px solid;
  color: #121212;
  font-weight: bold;
}

.PR {
  width: 100%;
  height: 644px;
  background-color: #F5F5F4;
  display: flex;
  justify-content: center;
}
.PR .PRR {
  width: 1290px;
  height: 100%;
}
.PR .PRR .RP {
  width: 1291px;
  height: 63px;
  text-align: center;
  font-size: 39px;
  color: #191919;
}
.PR .PRR .PPK {
  width: 1290px;
  height: 370px;
  display: flex;
  justify-content: space-between;
}
.PR .PRR .PPK .PKK {
  width: 190px;
  height: 290px;
  margin-top: 70px;
}
.PR .PRR .PPK .PKK img {
  width: 190px;
  height: 290px;
}
.PR .PPKt {
  width: 1290px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.PR .PPKt .PPKT {
  width: 190px;
  height: 140px;
  text-align: center;
}

.SALE {
  width: 100%;
  height: 229px;
  background-color: #DE3241;
  display: flex;
  justify-content: space-around;
  display: flex;
}
.SALE .SA {
  width: 847px;
  height: 54px;
  text-align: center;
  margin-top: 91px;
  font-size: 40px;
  margin-left: 107px;
  opacity: 0;
  transition: 0.2s;
}
.SALE .SA a {
  color: white;
}
.SALE button {
  background-color: #121212;
  color: white;
  border: #121212 2px solid;
  width: 174px;
  height: 59px;
  margin-top: 91px;
  margin-right: 150px;
}
.SALE button:hover {
  background-color: white;
  border: #121212 2px solid;
  color: #121212;
  font-weight: bold;
}