@charset "UTF-8";

header {
    // width: 1903px;
    width: 1920px;
    height: 159px;
    margin: 0 auto;
    background-color: red;

    .HD {
        height: 100%;

        &1 {
            width: 100%;
            height: 40%;
            background-color: aqua;
            display: flex;
            justify-content: space-around;

            .Welcome {
                background-color: red;
                width: 461px;
                height: 64px;
                text-align: center;
                padding: 0 15px;


                p {
                    color: #797979;
                    padding: 23px;
                    font-size: 12px;
                }


            }

            .Register {
                width: 800px;
                height: 64px;
                background-color: burlywood;
                display: flex;
                justify-content: space-around;
                padding: 17px 71px 0px 122px;

                &1 {
                    font-size: 12px;
                    color: #797979;
                    padding: 11px;

                    r {
                        color: red;
                    }
                }

                &2 {
                    display: contents;
                    padding: 22px;

                    .Fb {
                        width: 35px;
                        height: 35px;
                        background-color: blueviolet;
                    }

                    .Tw {
                        width: 35px;
                        height: 35px;
                        background-color: blueviolet;
                    }

                    .In {
                        width: 35px;
                        height: 35px;
                        background-color: blueviolet;
                    }

                }

                &3 {
                    display: flex;
                    padding: 11px;

                    .Ph {
                        width: 25px;
                        height: 22px;
                        background-color: orange;
                    }

                    p {
                        font-size: 12px;
                        color: #797979;
                    }

                    r {
                        color: red;
                    }
                }
            }
        }

        &2 {
            height: 60%;
            background-color: pink;
            display: flex;
            justify-content: space-around;
            padding: 22px 0px 0px 55px;

            .logo {
                width: 212px;
                height: 54px;
                background-color: red;
            }

            .menu {
                width: 700px;
                height: 55px;
                background-color: aquamarine;
                display: flex;

                .mu {
                    padding: 15px 0 0 28px;
                    font-size: 18px;
                    color: #797979;
                }

                .mll {
                    display: flex;
                    padding: 0 0 0 20px;

                    .ml1 {
                        width: 70px;
                        height: 55px;
                        background-color: orange;
                    }

                    .ml {
                        width: 70px;
                        height: 55px;
                        background-color: red;
                    }
                }

            }
        }
    }

}

footer {
    .FT {
        width: 1920px;
        height: 635px;
        margin: 0 auto;
        background-color: burlywood;
        display: flex;
        flex-direction: column;
        align-items: center;


        .gg {
            width: 1320px;
            height: 120px;
            background-color: azure;
        }

        .GG {
            width: 1320px;
            height: 515px;
            background-color: aqua;
            display: flex;
            justify-content: space-between;
        }

        .Flogo {
            width: 300px;
            height: 348px;
            background-color: red;
            text-align: center;
        }

        .WN {
            width: 300px;
            height: 348px;
            background-color: olive;
        }

        .LI {
            width: 300px;
            height: 348px;
            background-color: orange;
        }

        .GET {
            width: 300px;
            height: 348px;
            background-color: olivedrab;
        }
    }
}