@charset "UTF-8";

header {
    // width: 1903px;
    width: 100%;
    height: 159px;
    margin: 0 auto;

    .HD {
        width: 1290px;
        height: 100%;
        margin: 0 auto;

        &1 {
            width: 100%;
            height: 40%;
            background-color: #f9f9f9;
            display: flex;
            justify-content: space-between;

            .Welcome {
                text-align: center;

                p {
                    color: #797979;
                    padding: 23px;
                    font-size: 12px;
                }


            }

            .Register {
                width: 800px;
                height: 64px;
                display: flex;
                justify-content: space-between;
                padding: 17px 71px 0px 122px;

                &1 {
                    font-size: 12px;
                    color: #797979;
                    padding: 11px;

                    r {
                        color: red;
                    }
                }

                &2 {
                    display: contents;
                    padding: 22px;

                    .Fb {
                        margin: 10px -6px 0px 12px;
                    }

                    .Tw {
                        margin: 10px -6px 0px 12px;
                    }

                    .In {
                        margin: 10px -6px 0px 12px;
                    }

                }

                &3 {
                    display: flex;
                    padding: 11px;

                    p {
                        font-size: 12px;
                        color: #797979;
                    }

                    r {
                        color: red;
                    }
                }
            }
        }

        &2 {
            height: 60%;
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            padding: 10px;


            .logo {
                width: 212px;
                height: 54px;
                background-color: red;
            }

            .menu {
                width: 700px;
                height: 55px;
                display: flex;

                .mu {
                    padding: 15px 0 0 28px;
                    font-size: 18px;
                    color: #797979;
                }

                .ml {
                    margin-top: 4px;
                }

                .mll {
                    display: flex;
                    padding: 13px 0px 0px 20px;

                }

            }
        }
    }

}

footer {
    .FT {
        width: 100%;
        height: 635px;
        margin: 0 auto;
        background-color: burlywood;
        display: flex;
        flex-direction: column;
        align-items: center;


        .gg {
            width: 1290px;
            height: 120px;
            background-color: pink;
        }

        .GG {
            width: 1290px;
            height: 515px;
            background-color: aqua;
            display: flex;
            justify-content: space-between;
        }

        .Flogo {
            width: 300px;
            height: 348px;
            background-color: red;
            text-align: center;
        }

        .WN {
            width: 300px;
            height: 348px;
            background-color: olive;
            white-space: pre-line;
        }

        .WNt {
            color: black;
            font-weight: bold;
        }

        .WNi {
            background-color: beige;
            width: 38%;
            height: 38%;
        }

        .WNii {
            background-color: blue;
            width: 38%;
            height: 38%;
        }
    }

    .LI {
        width: 300px;
        height: 348px;
        background-color: orange;

        .LIt {
            color: black;
            margin: 17px;
            font-weight: bold;
        }
    }

    .LItt {
        background-color: yellow;
        width: 40%;
        height: 73%;
    }

    .LIttt {
        color: #797979;
        margin: 25px;
    }
}

.GET {
    width: 300px;
    height: 348px;
    background-color: olivedrab;

    .GETt {
        color: black;
        font-weight: bold;
        margin: 17px;
    }

    .GETtt {
        background-color: yellow;
        width: 74%;
        height: 73%;
    }

    .GETttt {
        color: #797979;
        margin: 20px;
    }

    .GETtttr {
        color: red;
        margin: 73px 0px 0px 18px;
    }

    .GETtttr:hover {
        color: black;
    }
}