@charset "UTF-8";

@import "reset", "common";

body{
    .DB{
        width: 1920px;
        height: 1020px;
        background-color: aqua;
        display: flex;
        justify-content: space-around;
    }

    .DBB{
        width: 1290px;
        height: 91px;
        background-color: red;
        margin-top: 116px;
    }

    .DBt{
        font-size: 55px;
        text-align: center;
    }

    .DBb{
        width: 1290px;
        height: 25px;
        background-color: pink;
        display: flex;
        justify-content: space-around;
    }
    .Dbt{
        font-size:15px;
        color: #272727;
    }

    .sogae{
        width: 1290px;
        height: 370px;
        background-color: green;
        display: flex;
        justify-content: space-between;

        .sg{
            width: 190px;
            height: 290px;
            background-color: yellow;
            margin-top: 25px;
    
            img{
                width:190px;
                         
            }
        }

    }

    

    .sogaet{
        width: 1290px;
        height: 232px;
        background-color: beige;
        display: flex;
        justify-content: space-between;

        .st{
            width: 190px;
            height: 140px;
            background-color: blueviolet;
        }
    }
    .Sogaeb{ width: 1290px;
            height: 59px;
            background-color: red;
            display: flex;
            justify-content: center;
    .sogaeb{
        background-color: #121212;
        width: 273px;
        height: 59px;
        .sogaebt{
            color: #fff;
            text-align: center;
            width: 273px;
            line-height: 54px;
            border: #121212 solid;

            &:hover {
                    border: #fff solid;
                    background-color: transparent;
            }
        }
    }
}
.up{
    width: 1920px;
    height: 459px;
    background-color: green;
    display: flex;
    justify-content: center;

    .upp{
        width: 682px;
        height: 459px;
        background-color: pink;

        .Up{
            width: 682px;
            height: 62px;
            background-color: red;
            display: flex;
            justify-content: center;
            font-size: 46px;
            margin-top: 82px;

        }
    }
    .UP{
        width: 682px;
        height: 62px;
        background-color: blue;
        display: flex;
        font-size: 46px;
        margin-top: 90px;
        justify-content: space-between;

        input {
            width: 399px;
            height: 62px;
        }
        .box{
            width: 270px;
            height: 62px;
            background-color: #121212;
            border: solid #121212;

            &:hover{
                border: solid #fff;
                background-color: transparent;
            }

            p{
                margin-top: 17px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                font-size: 17px;
            }
        }
    }
}
}
