@charset "UTF-8";

@import "reset", "common";

body{
    .DB{
        width: 100%;
        height: 1020px;
        background-color: aqua;
        display: flex;
        justify-content: space-around;
    }

    .DBB{
        width: 1290px;
        height: 91px;
        background-color: red;
        margin-top: 116px;
    }

    .DBt{
        font-size: 55px;
        text-align: center;
    }

    .DBb{
        width: 1290px;
        height: 25px;
        background-color: pink;
        display: flex;
        justify-content: space-around;
    }
    .Dbt{
        font-size:15px;
        color: #272727;
    }

}
