@charset "UTF-8";

@import "reset", "common";

body{
    .SUB {
        width: 100%;
       
        .subshopt{
            width: 100%;
            height: 174px;
            background-color: #171717;
            display: flex;
            justify-content: center;
            .subs{
                width: 1290px;
                height: 160px;
                background-color: #171717;
                color: #D2D3D5;
                font-size: 45px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    font-size: 15px;
                }
            }
        }
        .Sub{
            width: 100%;
            height: 3113px;
            background-color: #F5F5F4;
            padding: 127px 0px 133px;
            position: relative;

            .sUb{
                width: 1290px;
                height: 678px;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: space-between;
                .sUbp{
                    width: 440px;
                    height: 672px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .sUbt{
                    width: 849px;
                    height: 672px;
                    // display: flex;
                    // flex-direction: column;
                    background-color: beige;

                    .T{
                        // margin-top: auto;
                        // margin-left: 56px;
                        margin: 0px 0px 18px 48px;
                        font-size: 12px;
                    }

                   .Au{
                    // margin-top: auto;
                    // margin-left: 56px;
                    color: #797979;
                    margin: 0px 0px 18px 52px;
                    font-size: 13px;
                   }

                   .P{
                    // margin-top: auto;
                    // margin-left: 56px;
                    color: #DE3241;
                    margin: 0px 0px 18px 52px;
                    font-size: 13px;
                   }
                   .SP{
                    // margin-top: auto;
                    // margin-left: 56px;
                    color: #DE3241;
                    margin: 0px 0px 18px 52px;
                    font-size: 13px;
                   }
                   .J{
                    // margin-top: auto;
                    // margin-left: 56px;
                    margin: 0px 0px 18px 52px;
                    font-size: 13px;
                   }
                   .ST{
                    // margin-top: auto;
                    height: 200px;
                    font-size: 18px;
                    // margin-left: 56px;
                    margin: 0px 0px 18px 52px;
                    color: #797979;
                   }
                   .OP{
                    background-color: plum;
                    width: 172px;
                    height: 138px;
                    margin: -15px 0px 0px 50px;
                    display: flex;
                    justify-content: space-between;
                    .on{
                        width: 83px;
                        height: 138px;
                        background-color: #DE3241;
                        &:hover{
                            border: solid 2px black;
                        }
                        // img{
                        //     &:hover{
                        //         border: solid 2px black;
                        //     }
                        // }
                        p{
                            font-size: 13px;
                            margin-top: 10px;
                        }
                    }
                    .pa{
                        width: 83px;
                        height: 138px;
                        background-color: aqua;
                        &:hover{
                            border: solid 2px black;
                        }
                        p{
                            font-size: 13px;
                            margin-top: 10px;
                        }
                    }
                   }
                }
            }
        }
    }
   
}