@charset "UTF-8";

@import "reset", "common";

body{
    .SUB {
        width: 100%;
        // background-color: aquamarine;
        // display: flex;
        // justify-content: space-around;
        .subshopt{
            width: 1903px;
            height: 174px;
            background-color: #171717;
            display: flex;
            justify-content: center;
            .subs{
                width: 1290px;
                height: 160px;
                background-color: #171717;
                color: #D2D3D5;
                font-size: 45px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    font-size: 15px;
                }
            }
        }
        .Sub{
            width: 1903px;
            height: 3113px;
            background-color: #F5F5F4;
            padding: 127px 0px 133px;
            position: relative;

            .sUb{
                width: 1290px;
                height: 678px;
                background-color: pink;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: space-between;
                .sUbp{
                    width: 440px;
                    height: 672px;
                    background-color: beige;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .sUbt{
                    width: 849px;
                    height: 672px;
                    background-color: blue;
                }
            }
        }
    }
   
}